@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Prihláška na vysokoškolské štúdium</h1>
    <p class="lead">
        Prihláška na vysokoškolské štúdium bakalárske – prvý stupeň alebo spojené – prvý a druhý stupeň v jednom celku.
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Údaje o študentovi</h2>
    </div>
    <div class="col-md-6">
        <h2>Prospech podľa koncoročného vysvedčenia v jednotlivých ročníkoch strednej školy</h2>
    </div>
</div>