@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Prihláška na vysokoškolské štúdium</h1>
    <p class="lead">
        Prihláška na vysokoškolské štúdium bakalárske – prvý stupeň alebo spojené – prvý a druhý stupeň v jednom celku.
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Údaje o študentovi</h2>
        <button class="btn btn-default" type="submit" name="submit" value="submit">Generuj XML</button>
        <button class="btn btn-default" name="validate" value="validate">Validuj vygenerované XML</button>
        <button class="btn btn-default" name="display" value="display">Zobraz ako PDF</button>
    </div>
    <div class="col-md-6">
        <h2>Prospech podľa koncoročného vysvedčenia v jednotlivých ročníkoch strednej školy</h2>
    </div>
</div>